@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #151515;
}

.dark-bg {
    background-color: #212121;
}

.widget-logo {
    height: 24px;
}

.social-icons {
    height: 24px;
}